@charset "EUC-KR";

header{
	position:fixed;
	top:0px;
	height: 40px;
	line-height:40px;
	background-color: orange;
	width: 100%;
	font-size: 30px;
}
nav{
	position:fixed;
	display:flex;
	top:40px;
	width:100%;
	height: 30px;
	line-height: 30px;
	background-color: lightpink;
}
nav > a{
	margin-left: 10px;
}
section{
	position:fixed;
	background-color: lightgray;
	top:70px;
	width: 100%;
	height: 100%;
}

footer{
	position:fixed;
	bottom: 0px;
	background-color: orange;
	height: 40px;
	width: 100%;
	line-height: 40px;
	
}